body {
  font-family: "Lucida Grande";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-block-start: auto;
  margin-block-end: auto;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ffff00;
  color: #000000;
}

.header a {
  text-decoration: none;
  padding: 8px 40px;
}

.header-logo {
  float: left;
  font-size: 30px;
  padding: 8px 40px;
}

.header-list {
  float: left;
}

.header-list li {
  list-style: none;
  float: left;
  padding: 8px 20px;
}

.main {
  padding: 50px 100px;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #2f5167;
  color: #fff;
}

.footer-logo {
  float: left;
  font-size: 16px;
}
