img {
  height: 200px;
  width: 200px;
}

.copy-container h1 {
  font-size: 50px;
}

.copy-container h2 {
  font-size: 20px;
}

.content {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #696969;
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

ul.content-item li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}
