body {
  font-family: "Lucida Grande";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #ffff00;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav-links li {
  float: left;
  padding: 0px 20px;
}

.nav_links li a:hover {
  color: #0088a9;
}
